body {
    margin: 0;
    padding: 0;
    width: 100%;

}


/* Move home button from rest */
nav {
    display: flex;
    justify-content: space-between;
}



/* Navbar container */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(132, 168, 151);
    font-family: Arial;
    padding: 6px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 94%;
    z-index: 9999;
}

/* Space buttons ends */
ul {
    display: flex;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

/* Space buttons */
li {
    padding-left: 10px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Navbar buttons */
.navbar nav a {
    background-color: rgb(161, 207, 185);
    border-radius: 30px;
}

/* Dropdown button */
.dropButton {
    background-color: rgb(161, 207, 185);
    border-radius: 30px;
}

/* Background of dropdown */
.dropDown .dropLinks a {
    background-color: white;
}

/* Dropdown link button */
.dropDown .dropButton {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
}

/* Button hover color */
.navbar a:hover,
.dropDown:hover .dropButton {
    background-color: rgb(3, 222, 156);
}

/* Dropdown links*/
.dropLinks {
    overflow: hidden;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

/* Links inside the dropdown */
.dropLinks a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Background on links hover */
.dropLinks a:hover {
    background-color: #ddd;
}

/* Dropdown function */
.dropDown:hover .dropLinks {
    display: block;
}